body {
    --callout-padding: 0px;
}

.callout p:first-child {
    margin-block-start: 5px;
}

.callout p:last-child {
    margin-block-end: 0;
}

.callout-title {background: rgba(var(--callout-color), 15%);
               padding:8px}

.callout-content {
    padding: 0px 8px 5px 8px;
}

.callout.drop-shadow {
    box-shadow: none !important;
}

.callout[data-callout="note"], .callout[data-callout="thm"], .callout[data-callout="def"] {
    --callout-color: 255, 255, 255 !important;
    border-left: 5px double;
    border-radius: 0;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.callout[data-callout="note"] .callout-title, .callout[data-callout="thm"] .callout-title, .callout[data-callout="def"] .callout-title {
    --callout-color: black;
    border-bottom: 1px solid;
    gap: 8px;
}

.callout[data-callout="prop"], .callout[data-callout="lem"] {
    --callout-color: 255, 255, 255 !important;
    border-radius: 0;
    border: 1px solid;
}

.callout[data-callout="prop"] .callout-title, .callout[data-callout="thm"] .callout-title, .callout[data-callout="lem"] .callout-title {
    --callout-color: black;
    border-bottom: 1px solid;
    gap: 8px;
}
